
header{
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul{
    list-style-type: none;
    margin: 0;
}

section.profile{
    background-color: #1abc9c;
    padding-top: 120px;
}

section.profile img{
    width: 300px;
    height: 250px;
}

section.about{
    background-color: #1abc9c;
}

footer{
    background-color: #3a546d;
}

div.bar-white{
    height: 4px;
    width: 15%;
    border-radius: 1rem;
}

div.icons_cs{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    vertical-align: middle;
}

div.footer-lower{
    background-color: #2c3e50;
    padding: 2rem;
}

.font-size-big_cs{
    font-size: 1.8rem;
}

.font-size-small_cs{
    font-size: 1.2rem;                                                                                 
}

.flex_cs{
    display: flex;
}

.bg_cs{
    background-color: #2c3e50;
}

.txt_cs{
    color: #2c3e50;
}

.br_cs{
    border-radius: 0;
}

.bg-green_cs{
    background-color: #1abc9c;
}

.img_cs{
    height: 222px;
}

.height-100{
    height: 100%;
}